<section id="aboutme">
  <div style="min-height: 50vh">
    <div class="display-4">About me</div>
    <hr />
    <div class="p-5">
      <div>
        <span class="display-6">My Skills and tools of choice include</span>
        <div class="skills p-3">
           Java / Python / Docker / Git / Maven / Poetry / Typescript / ReactJS / Spring Boot / Mongodb / Gitlab / CSS
        </div>
        <div class="display-6 mt-5">I am experienced with</div>
        <div class="skills p-3">Repast Simphony / React Native / Unity / C++ / D3 / Mesa</div>
      </div>
    </div>
  </div>
</section>
