@import "./vendor/bootstrap/functions";
@import "./vendor/bootstrap/variables";
@import "./vendor/bootstrap/mixins";
@import "./vendor/fontawesome/css/fontawesome";
@import "./vendor/fontawesome/css/brands";
@import "./vendor/fontawesome/css/solid";

$body-color: #d2d2d2;
$body-bg: #136a8a;
$badge-font-weight: $font-weight-bold;
$theme-colors: (
        "primary": #136a8a,
        "danger": #ff4136,
);

@import "./vendor/bootstrap/bootstrap";

/***********************************************************************************************************************
*
* Helper
*
***********************************************************************************************************************/

a,
a:hover {
  color: $body-color;
}

/* For all <code> */
code {
  font-family: monospace;
  font-size: inherit;
  color: $body-color;
}

/* Code in text */
p > code,
a > code,
li > code,
dd > code,
td > code {
  background: $body-bg;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem !important;
  border-radius: 0.2rem;
}

/***********************************************************************************************************************
*
* Navigation
*
***********************************************************************************************************************/

#nav-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;

}

#navigation {
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 0;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  animation: pop_in ease .2s 3s forwards;
  transform: translateY(40px);
}

@keyframes pop_in {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  #navigation {
    width: 500px;
  }
}

#navigation a {
  background: transparent;
  transition: all .2s ease;
  border: 0;
  text-align: center;
  flex: 1 1 auto !important
}

#navigation a.active {
  background: rgba(255, 255, 255, 0.77);
  color: $body-bg;
  border: 0;
  transform: translateY(-2px);
  border-radius: 0;
}


/***********************************************************************************************************************
*
* Background Color
*
***********************************************************************************************************************/

$gradient-from: #267871;
$gradient-to: #136a8a;

body {
  background: -webkit-linear-gradient(to right, #267871, #136a8a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
                  to right,
                  $gradient-from,
                  $gradient-to
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative; /* Used for ScrollSpy */
}

/* From https://css.glass */
.glass {
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}

/***********************************************************************************************************************
*
* Hero
*
***********************************************************************************************************************/

.welcome-text {
  animation: welcome 0.3s ease 1s forwards;
  opacity: 0;
}

.welcome-comma {
  animation: welcome 0.3s ease 0.5s forwards;
  opacity: 0;
}

@keyframes welcome {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

/***********************************************************************************************************************
*
* Posts
*
***********************************************************************************************************************/

.post-card {
  transition: all 0.3s ease;
  text-decoration: none;
}

.post-card:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.01);
  cursor: pointer;
}

.post-wrapper {
  max-width: 700px;
  background-color: #184a5c;
  padding-bottom: 2px;
}

.post-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.post-wrapper p:has(> img) {
  display: flex;
  justify-content: center;
}

.post-wrapper pre {
  padding: 1rem;
  border-radius: 10px;
  background: #343434;
}

.post-wrapper code {
  background: #343434;
  word-wrap: break-word;
  box-decoration-break: clone;
  border-radius: 0.2rem;
}

h2 {
  margin-top: 3rem;
}

/***********************************************************************************************************************
*
* Apps/Projects
*
***********************************************************************************************************************/

.app-card {
  border: 0;
  border-radius: 10px;
  overflow: hidden;
}

.app-image {
  transition: all 0.3s;
  width: 100%;
}

.app-card:hover img {
  transform: scale(1.1);
}

.app-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  color: #252525;
  height: 100%;
  padding: 1rem;
  opacity: 0;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.66);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}

.app-details:hover {
  opacity: 100%;
}

/***********************************************************************************************************************
*
* About Me
*
***********************************************************************************************************************/

.skills {
  font-size: 1.3rem;
  font-family: monospace;
}

footer {
}
