<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

</head>
<body>
<div class="container">
  {{ content }}
</div>
<footer>
  <hr/>
  <div class="d-flex justify-content-around p-3">
    <span class="display-6">Benedikt Lüken-Winkels</span>
    <a target="_blank" href="https://github.com/BeneLuWi" class="text-decoration-none display-5">
      <i class="devicon-github-original"></i>
    </a>
    <a target="_blank" href="https://github.com/BeneLuWi" class="text-decoration-none display-5">
      <i class="fa-solid fa-envelope"></i>
    </a>
    <a target="_blank" href="https://github.com/BeneLuWi" class="text-decoration-none display-5">
      <i class="fa-brands fa-xing"></i>
    </a>

  </div>
</footer>
</body>
</html>