<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="description" content="{{ page.description}}">
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navigation" data-bs-offset="10">
    <div>{{ content }}</div>
    <footer style="margin-bottom: 40px">
      <hr />
      <div class="d-flex justify-content-around p-5">
        <a target="_blank" href="{{ site.github }}" class="text-decoration-none display-4">
          <i class="devicon-github-original"></i>
        </a>
        <a
          target="_blank"
          href="{{ site.xing }}"
          class="text-decoration-none display-4"
        >
          <i class="fa-brands fa-xing"></i>
        </a>
        <a
          target="_blank"
          href="{{ site.linkedin }}"
          class="text-decoration-none display-4"
        >
          <i class="devicon-linkedin-plain"></i>
        </a>
        <a target="_blank" href="mailto:{{ site.email }}" class="text-decoration-none display-4">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </div>
      <hr />
      <div class="p-3 d-flex justify-content-center">
        <span>Benedikt Lüken-Winkels - Baltzstraße 6 - 54296 Trier</span>
      </div>
    </footer>
    <script src="/assets/js/vendor/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
