<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

  </head>
  <body data-bs-spy="scroll" data-bs-target="#navigation" data-bs-offset="10">
    <div class="container-xxl">{{ content }}</div>
    <footer>
      <hr />
      <div class="d-flex justify-content-around p-5">
        <a target="_blank" href="https://github.com/BeneLuWi" class="text-decoration-none display-4">
          <i class="devicon-github-original"></i>
        </a>
        <a
          target="_blank"
          href="https://www.xing.com/profile/Benedikt_LuekenWinkels/cv"
          class="text-decoration-none display-4"
        >
          <i class="fa-brands fa-xing"></i>
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/benedikt-l%C3%BCken-winkels-69881a17b/"
          class="text-decoration-none display-4"
        >
          <i class="devicon-linkedin-plain"></i>
        </a>
        <a target="_blank" href="mailto:b.lueken.winkels@gmail.com" class="text-decoration-none display-4">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </div>
      <hr />
      <div class="p-3 d-flex justify-content-center">
        <span>Benedikt Lüken-Winkels - Baltzstraße 6 - 54296 Trier</span>
      </div>
    </footer>
    <script src="/assets/js/vendor/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
