---
layout: default
---

<div id="nav-wrapper">
  <nav class="list-group" id="navigation">
    <a class="list-group-item list-group-item-action flex-fill" href="#hero">Welcome</a>
    <a class="list-group-item list-group-item-action flex-fill" href="#projects">Projects</a>
    <a class="list-group-item list-group-item-action flex-fill" href="#posts">Posts</a>
    <a class="list-group-item list-group-item-action flex-fill" href="#aboutme">About</a>
  </nav>
</div>

<div class="container-xxl">
  <!--Hero-->
  <section id="hero">
    <div class="vh-100 d-flex flex-column justify-content-center">
      <div class="display-4">Hi<span class="welcome-text">,</span></div>
      <div class="welcome-text">
        <div class="display-6 m-3">
          I'm Benedikt, a 28-year-old software developer. I work at the Fraunhofer Institute for Experimental Software Engineering (IESE).
        </div>
        <div class="display-6 m-3">I'm passionate about coding and experimenting with web applications.</div>
        <hr/>
        <div class="d-flex justify-content-between">
          <div>
            <small>Location</small><br/>
            <small>Trier, Germany</small>
          </div>
          <div>
            <small>Web</small><br/>
            <small><a href="{{site.url}}">{{site.short_url}}</a></small>
          </div>
          <div>
            <small>Contact</small><br/>
            <small><a href="mailto:b.lueken.winkels@gmail.com">Email</a></small>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Apps-->
  <div class="mt-5"></div>
  {% include apps.html %}
  <!--Posts-->
  <div class="mt-5"></div>
  {% include posts.html %}
  <!--About Me-->
  <div class="mt-5"></div>
  {% include about.html %}
</div>
