---
layout: default
---

<div class="container post-wrapper">
  <div class="d-flex justify-content-end">
    <code class="p-2 mt-2 mb-2">
      <a target="_blank" href="{{site.url}}" class="text-decoration-none">Benedikt Lüken-Winkels</a>
      <a target="_blank" href="https://github.com/BeneLuWi" class="text-decoration-none ">
        <i class="devicon-github-original"></i>
      </a>
      <a
          target="_blank"
          href="https://www.xing.com/profile/Benedikt_LuekenWinkels/cv"
          class="text-decoration-none "
      >
        <i class="fa-brands fa-xing"></i>
      </a>
      <a
          target="_blank"
          href="https://www.linkedin.com/in/benedikt-l%C3%BCken-winkels-69881a17b/"
          class="text-decoration-none "
      >
        <i class="devicon-linkedin-plain"></i>
      </a>
      <a target="_blank" href="mailto:b.lueken.winkels@gmail.com" class="text-decoration-none ">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </code>
  </div>

  <h2 class="mt-0">
    {{ page.title }}
  </h2>
  <div class="mb-3 mt-3">
    <img src="{{ page.image }}" alt="Article Banner Image" class="rounded-0 m-0"/>
    <div class="d-flex justify-content-center">
      <small>{{ page.image_caption }}</small>
    </div>
  </div>
  {{ content }}
</div>
